<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="tituloPrincipal">cadastrar</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" #frm="ngForm" (ngSubmit)="criar(frm)">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputNome">Nome: <span class="obrigatorio">*</span></label>
                        <input type="text" name="nome" [(ngModel)]="remetente.nome" class="form-control" id="inputNome" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputTelefone">Telefone: <span class="obrigatorio">*</span></label>
                        <input type="text" class="form-control" id="inputTelefone" name="telefone" [(ngModel)]="remetente.telefone" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCpf">CPF: <span class="obrigatorio">*</span></label>
                        <input type="text" class="form-control" id="inputCpf" name="cpf" [(ngModel)]="remetente.cpf" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputRua">Rua: <span class="obrigatorio">*</span></label>
                        <input type="text" class="form-control" id="inputRua" name="rua" [(ngModel)]="remetente.rua" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputCidade">Cidade: <span class="obrigatorio">*</span></label>
                        <input type="text" class="form-control" id="inputCidade" name="cidade" [(ngModel)]="remetente.cidade" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEstado">Estado: <span class="obrigatorio">*</span></label>
                        <input type="text" class="form-control" id="inputEstado" name="estado" [(ngModel)]="remetente.estado" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputCep">CEP: <span class="obrigatorio">*</span></label>
                        <input type="text" id="inputCep" class="form-control" name="cep" [(ngModel)]="remetente.cep" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPais">País: <span class="obrigatorio">*</span></label>
                        <input type="text" class="form-control" id="inputPais" name="pais" [(ngModel)]="remetente.pais" required>
                    </div>
                    <div class="form-group col-md-7">
                        <label for="inputEmail">Email <span class="obrigatorio">*</span></label>
                        <input type="email" class="form-control" id="inputEmail" name="remetente.email" [(ngModel)]="remetente.email" required email>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="frm.invalid">Cadastrar</button>
            </form>
        </div>
    </div>

</div>
