<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img
        width="35"
        alt="SCC4 Logo"
        class="d-inline-block align-top" alt=""
        src="https://scc4.atlassian.net/wiki/download/attachments/9633816/RH?version=1&modificationDate=1565095733598&cacheVersion=1&api=v2"
      />
      <span>SCC4</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="" routerLinkActive="active">INICIO <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#" routerLinkActive="active">Parte um</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/remetentes" routerLinkActive="active">Remetentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/destinatarios" rotuerLinkActive="active">Destinatários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/destinatarios/mensagem" routerLinkActive="active">Mensagem</a>
        </li>
      </ul>
    </div>
</nav>
<br><br>

<router-outlet></router-outlet>