<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="tituloPrincipal">editar</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" #frm="ngForm" (ngSubmit)="editar(frm)">
                <div *ngIf="remetenteUnico">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputNome">Nome: <span class="obrigatorio">*</span></label>
                        <input type="text" name="nome" [(ngModel)]="remetenteUnico.nome" class="form-control" id="inputNome" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputTelefone">Telefone: <span class="obrigatorio">*</span></label>
                        <input type="text" class="form-control" id="inputTelefone" name="telefone" [(ngModel)]="remetenteUnico.telefone" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCpf">CPF: <span class="obrigatorio">*</span></label>
                        <input type="text" class="form-control" id="inputCpf" name="cpf" [(ngModel)]="remetenteUnico.cpf" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputRua">Rua: <span class="obrigatorio">*</span></label>
                        <input type="text" class="form-control" id="inputRua" name="rua" [(ngModel)]="remetenteUnico.rua" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputCidade">Cidade: <span class="obrigatorio">*</span></label>
                        <input type="text" class="form-control" id="inputCidade" name="cidade" [(ngModel)]="remetenteUnico.cidade" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEstado">Estado: <span class="obrigatorio">*</span></label>
                        <input type="text" class="form-control" id="inputEstado" name="estado" [(ngModel)]="remetenteUnico.estado" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputCep">CEP: <span class="obrigatorio">*</span></label>
                        <input type="text" id="inputCep" class="form-control" name="cep" [(ngModel)]="remetenteUnico.cep" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPais">País: <span class="obrigatorio">*</span></label>
                        <input type="text" class="form-control" id="inputPais" name="pais" [(ngModel)]="remetenteUnico.pais" required>
                    </div>
                    <div class="form-group col-md-7">
                        <label for="inputEmail">Email <span class="obrigatorio">*</span></label>
                        <input type="email" class="form-control" id="inputEmail" name="remetente.email" [(ngModel)]="remetenteUnico.email" required email>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Editar</button>
                <a style="margin-left: 10px; color: aliceblue;" routerLink="/remetentes" routerLinkActive="active" class="btn btn-warning">Cancelar</a>
            </form>
        </div>
    </div>

</div
>
