<div class="container">
    <h2 class="tituloPrincipal">remetentes</h2>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary btn-cadastrarRemetente" href="/remetentes/cadastrar">
                <fa-icon [icon]="faUserEdit"></fa-icon> 
                Cadastrar Remetente
            </a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
            <th scope="col">Cidade</th>
            <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody *ngFor="let remetente of listaDeRementetes">
            <tr>
            <th scope="row">{{ remetente.id }}</th>
            <td>{{ remetente.nome }}</td>
            <td>{{ remetente.telefone }}</td>
            <td>{{ remetente.email }}</td>
            <td>{{ remetente.cidade }}</td>
            <td id="acoes">
                <!--button class="btn btn-primary"><fa-icon [icon]="faCoffee"></fa-icon></!--button-->
                <button class="btn btn-warning" [routerLink]="['/remetentes/editar/', remetente.id]"><fa-icon [icon]="faUserEdit"></fa-icon></button>
                <a id="btnDeletar" class="btn btn-danger"><fa-icon [icon]="faTrashAlt" (click)="deletar(remetente.id)"></fa-icon></a>
            </td>
            </tr>
        </tbody>
    </table>
</div>
