/* You can add global styles to this file, and also import other style files */
/*@import url('~bootstrap/dist/css/bootstrap.min.css');*/

.navbar {
    border-bottom: 1px solid rgb(66, 82, 110);
    height: 80px;
}

.navbar-brand span {
    font-size: 17px;
    color: rgb(66, 82, 110);
    font-weight: bolder;
    margin-left: 10px;
}

.navbar-nav li a {
    text-transform: uppercase !important;
    color: rgb(66, 82, 110);
    font-size: 14px;
}

.navbar-nav li a:hover {
    border-bottom: 1px solid rgb(66, 82, 110);
}

#titulo-inicio {
    text-align: center;
    font-size: 32px;
}

#vermelho {
    color: #f16869;
}

#azul {
    color: #4db4c7;
}

#amarelo {
    color: #f8bd3c;
}

#descricao-projeto {
    margin-top: 50px;
    text-align: justify;
}

.tituloPrincipal {
    color: rgb(66, 82, 110);
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    margin: 20px 0px;
}

.btn-cadastrarRemetente {
    float: right;
}

#acoes button {
    margin-left: 5px;
}

#acoes button fa-icon {
    font-size: 13px;
    align-items: center;
    color: aliceblue !important;
}

.obrigatorio {
    color: red;
}

#btnDeletar {
    margin-left: 10px;
    color: aliceblue;
}