<div class="container">
    <h1 id="titulo-inicio"><span id="vermelho">Hands </span><span id="azul">On </span><span id="amarelo">SCC4</span></h1>
    <p id="descricao-projeto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type 
        specimen book. It has survived not only five centuries, but also the leap into 
        electronic typesetting, remaining essentially unchanged. It was popularised in 
        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker 
        including versions of Lorem Ipsum.
    </p>
</div>
