<div class="container">
    <h2 class="tituloPrincipal">Mensagem para Destinatario(s)</h2>
    <br><br>
    <form  method="POST" [formGroup]="formulario" (ngSubmit)="enviar(formulario)">
        <div class="row">
                <div class="form-group col-md-6">
                    <h6 align="center">Remetente</h6>
                    <label for="nome">Selecione o Remetente: </label>
                    <select class="form-control" id="nome" formControlName="nomeRemetente">
                        <option>Selecione um remetente</option>
                        <option *ngFor="let remetent of listaDeRementetes">{{ remetent.nome }}</option>
                    </select>
                </div>        

                <div class="form-group col-md-6">
                    <h6 align="center">Remetente</h6>
                    <label for="exampleFormControlSelect2">Selecione o(s) Destinatario(s)</label>
                    <select multiple class="form-control" id="exampleFormControlSelect2" formControlName="listaDestinatariosMensagem">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <option *ngFor="let destinatario of listaDeDestinatarios">{{ destinatario.nome }}</option>
                    </select>
                    <small id="emailHelp" class="form-text text-muted">Segure Ctrl e selecione vários destinatarios.</small>
                  </div>
                
                <div class="form-group col-md-12">
                    <label for="exampleFormControlTextarea1">Mensagem: </label>
                    <textarea class="form-control" rows="3" formControlName="mensagemForm"></textarea>
                </div>        
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form> 
</div>
    