<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form [formGroup]="form" (ngSubmit)="submitForm()">
                <div class="form-group">
                    <input type="file" (change)="uploadFile($event)">
                </div>
        
                <div class="form-group">
                    <button class="btn btn-danger btn-block btn-lg">Upload</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h2 class="tituloPrincipal">Lista de Destinatários</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody *ngFor="let destinatario of listaDeDestinatarios">
                    <tr>
                    <th scope="row">{{ destinatario.id }}</th>
                    <td>{{ destinatario.nome }}</td>
                    <td>{{ destinatario.telefone }}</td>
                    <td>{{ destinatario.email }}</td>
                    <td>{{ destinatario.cidade }}</td>
                    <!--td id="acoes">
                        <!--button class="btn btn-primary"><fa-icon [icon]="faCoffee"></fa-icon></!--button-->
                        <!--button class="btn btn-warning" [routerLink]="['/remetentes/editar/', remetente.id]"><fa-icon [icon]="faUserEdit"></fa-icon></button-->
                        <!--a id="btnDeletar" class="btn btn-danger"><fa-icon [icon]="faTrashAlt" (click)="deletar(remetente.id)"></fa-icon></a-->
                    <!--/td-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
